@page
@using Microsoft.AspNetCore.Authorization
@model IndexModel
@{
    ViewData["Title"] = "Chats";
}
@section Styles {
    <style>
        /* Usable variables */
        :root {
            --primary-clr: #607D8B;
            --secondary-clr: #FF9800;
            --accent-clr: #03A9F4;
            --bg-clr: #eceff1;
            --white-clr: #fff;
            --black-clr: #000;
            --grey-clr: #808080;
            --light-clr: #108080;
            --ff-headline: 'Poppins', sans-serif;
            --ff-body: 'Open Sans', sans-serif;
        }

        *, *::after, *::before {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .background {
            background-color: var(--bg-clr);
            display: flex;
            flex-direction: row;
            position: relative;
        }

        #close {
            display: flex;
            justify-content: flex-end;
            padding-right: 3px;
            padding-top: 3px;
        }

        #close button {
            background-color: transparent;
            border: none;
            height: 20px;
            padding: 2px;
            outline: none;
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        .new-contact-modal,
        .contact-list-modal {
            position: absolute;
            left: 40%;
            top: 20%;
            z-index: 2;
            background-color: var(--bg-clr);
            width: 400px;
            padding-bottom: 20px;
            border-radius: 10px;
        }

        .available-contacts {
            height: 300px;
            overflow-y: scroll;
        }

        ::-webkit-scrollbar {
            width: 0;
            background: transparent;
        }

        .contact-list-modal {
            min-height: 455px;
            border-radius: 10px;
        }

        .contact-list-modal.hide {
            visibility: hidden;
        }

        .new-contact-modal.hide {
            visibility: hidden;
        }

        .new-contact-modal #title,
        .contact-list #title {
            margin-top: 10px;
            display: flex;
            justify-content: center;
        }

        .new-contact-modal span,
        .contact-list-modal span {
            font-weight: 400;
            font-style: italic;
            width: 100%;
            text-align: center;
        }

        #new-contact-form,
        #contacts-blog {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .contact-container {
            display: flex;
            background-color: transparent;
            box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
            justify-content: space-between;
            width: 300px;
            align-items: center;
            padding: 10px;
            border-radius: 5px;
            margin: 8px 0;
            cursor: pointer;
        }

        .current-chats {
            background-color: var(--white-clr);
            width: 350px;
            height: 100vh;
            box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);

            position: relative;
        }

        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px 16px 0 16px;
        }

        .chat {
            background-color: transparent;
            flex: 1;
            position: relative;
            margin-left: 1px;
        }

        .chat.hidden {
            visibility: hidden;
        }

        .blog-title {
            flex: 1;
            display: flex;
            margin-top: 10px;
            margin-left: 10px
        }

        #create {
            background-color: transparent;
            font-weight: 700;
            cursor: pointer;
        }

        .chat-topbar {
            padding: 10px 16px;
            background-color: var(--white-clr);
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
        }

        .logout {
            padding-right: 10px;
            cursor: pointer;
            transition: all .3s ease-in;
        }

        .contact-details {
            display: flex;
            width: 100%;
            box-sizing: border-box;
            flex-direction: column;
        }

        .contact-details #name {
            font-size: 12px;
            font-weight: 700;
            width: max-content;
        }

        .contact-details #last-seen {
            font-size: 10px;
            color: var(--grey-clr);
        }

        .contact-container .username {
            font-size: 12px;
            font-weight: 500;
        }

        .contact-container .action {
            color: blue;
            font-style: italic;
            background-color: lightgray;
            padding: 5px;
            border-radius: 2px;
            cursor: pointer;
        }

        .contact-container .phone-number {
            font-size: 10px;
            font-weight: 200;
            color: gray;
        }

        .chats-container {
            display: flex;
            flex-direction: column;
            gap: 0.2rem;
            margin-top: 12px;
        }

        .chat-blog {
            background-color: transparent;
            width: 98%;
            margin: 0 auto;
            padding: 8px 12px;
            display: flex;
            gap: 8px;
            border-radius: 4px;
            cursor: pointer;
        }

        .chat-blog.active {
           background-color: var(--bg-clr);
        }

        .chat-blog:hover {
           background-color: rgba(0,0,0,0.1);
           transition: all .3s ease-in;
        }

        .chat-blog .picture {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 2;
            height: 100%;
        }

        .chat-blog .chat-details {
            display: flex;
            justify-content: space-between;
            flex: 1;
        }

        .chat-blog .chat-details :first-child .number-of-messages {
            background-color: blue;
            font-size: 10px;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            border-radius: 50%;
        }

        .profile-avatar {
            height: 65px;
            width: 65px;
            margin-left: 5px;
            border-radius: 50%;
            background-color: lightgray;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .chat-details .name,
        .incoming-message-content .name,
        .outgoing-message-content .name {
            font-weight: 600;
            font-size: 12px;
        }

        .chat-details .message,
        .incoming-message-content .message,
        .outgoing-message-content .message {
            font-size: 11px;
            font-style: italic;
            font-weight: 500;
        }

        .message-info {
            display: flex;
            justify-content: space-between;
        }

        .message {
            display: flex;
            align-items: center;
            gap: 0.2rem;
        }

        .time-sent {
            font-size: 10px;
        }

        #message-body {
            overflow-y: hidden;
            height: calc(100vh - 60px);
            overflow-y: scroll;

            padding-bottom: 4rem;
        }

        #message-body .date {
            display: flex;
            justify-content: center;
            font-size: 10px;
            font-weight: 500;
            font-style: italic;
            color: var(--black-clr);
            margin: 10px 0;
        }

        #message-body .conversation-body {
            display: flex;
            justify-content: space-between;
            padding: 0 16px;
        }

        #message-body .conversation-body .incoming-messages,
        #message-body .conversation-body .outgoing-messages {
            flex: 1;
            max-width: 1024px;
            margin: 0 auto;
        }

        .incoming-message-content,
        .outgoing-message-content {
            background-color: whitesmoke;
            margin: 5px 0;
            width: fit-content;
            min-width: 100px;
            max-width: 60%;
            padding: 5px;
            border-radius: 6px;
        }

        .incoming-message-content {
            margin-right: 5px;
        }

        .outgoing-messages {
            display: flex;
            justify-content: end;
        }

        .input-field,
        .submit-button {
            padding: 5px;
            width: 300px;
            border-radius: 5px;
            outline: none;
            border: none;
            margin: 8px 0;
        }

        .submit-button {
            background-color: var(--primary-clr);
            font-size: 15px;
            font-weight: bold;
            font-style: oblique;
        }

        #create-message {
            position: absolute;
            right: 16px;
            bottom: 16px;
            font-size: 18px;
            background-color: var(--primary-clr);
            border-radius: 50%;
            height: 40px;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--white-clr);
            cursor: pointer;
        }

        .add-contact {
            width: 100%;
            background-color: lightgray;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 5px;
            cursor: pointer
        }
        .profile {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            position: relative;
        }

        .profile img, .chat-blog img {
            width: 50px;
            height: 50px;

            object-fit: cover;
            object-position: center;
            border: 3px solid var(--primary-clr);
            border-radius: 50%;

            cursor: pointer;
        }

        .profile img:hover {
            opacity: 0.7;
            transition: all .3s ease-in;
        }

        .user-profile {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        .user-profile .name {
            font-size: 12px;
            font-weight: 700;
            width: max-content;
        }

        .user-profile .grey {
            font-size: 10px;
            color: var(--grey-clr);
        }

        .search-bar {
            margin: 8px 16px 0 16px;
            background-color: var(--bg-clr);
            border-radius: 5px;

            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding: 0 12px;
            color: var(--grey-clr);
            font-size: 12px;
        }

        .search-bar input {
            flex: 1;
            border: none;
            outline: none;
            padding: 4px 0;
            background-color: transparent;
        }

        #primary-color {
            color: var(--primary-clr);
        }

        #yellow-color {
            color: var(--accent-clr);
        }

        #grey-color {
            color: var(--grey-clr);
        }

        .other {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        .other .number {
            display: flex;
            justify-content: flex-end;
        }

        .other .number-of-messages {
            color: var(--white-clr);
            background-color: var(--primary-clr);
            border-radius: 50%;
            padding: 0 4px;
            font-size: 8px;

            width: fit-content;
        }

        textarea {
            outline: none;
            border: none;

            flex: 1;
            display: flex;
            align-items: center;
            background-color: transparent;
            max-height: 100px;
            overflow-y: auto;
        }

        .input-message-box {
            display: flex;
            gap: 0.5rem;
           
            color: var(--primary-clr);
            height: 60px;
            padding: 0 16px;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
        }

        #send-message {
            color: var(--primary-clr);
        }

        .message-blog {
           position: absolute;
           bottom: 0;
           right: 0;
           left: 0;
           box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
            background-color: var(--white-clr);
        }

        .elipsis {
            width: 200px;
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .max {
            max-width: 1024px;
            margin: 0 auto;
        }

        .profile-details {
            position: absolute;
            top: 100%;
            left: 50px;
            background-color: var(--white-clr);

            display: flex;
            flex-direction: column;
            gap: 4px;
            box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);

            border-radius: 4px;

            height: 0;
            opacity: 0;
            z-index: -1000;
            transition: all .3s ease-in;
        }

        .profile-details.show {
            height: fit-content;
            opacity: 1;
            z-index: 99999;
        }

        .profile-details .title {
            font-size: 14px;
            font-weight: 500;
            width: max-content;
            padding: 0 5px;
        }

        .profile-details .paragraph {
            font-size: 12px;
            padding: 0 5px;
        }

        .logout:hover {
            background-color: var(--bg-clr);
        }

        .line {
            height: 1px;
            background-color: var(--bg-clr);
        }
    </style>
}
<div class="background">
    <div class="new-contact-modal hide">
        <div id="close">
            <button id="close-btn">
                <i class="bi bi-x-circle" style="font-size: 20px"></i>
            </button>
        </div>
        <div id="title">
            <span style="text-align: center">Add new contact</span>
        </div>
        <div id="new-contact-form">
            <form method="post" action="">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div>
                    <input type="text" asp-for="@Model.AccountDetails.PhoneNumber" class="input-field" id="phone"
                        placeholder="Phone">
                    <div><span asp-validation-for="@Model.AccountDetails.PhoneNumber" class="text-danger"></span></div>
                </div>
                <div>
                    <input type="text" asp-for="@Model.AccountDetails.UserName" class="input-field" id="username"
                        placeholder="Username">
                </div>
                <div>
                    <input type="button" class="submit-button" value="Add Contact">
                </div>
            </form>
        </div>
    </div>
    <div class="contact-list-modal hide">
        <div id="close">
            <button id="close-btn">
                <i class="bi bi-x-circle" style="font-size: 20px"></i>
            </button>
        </div>
        <div id="title" style="text-align: center">
            <span >Contacts</span>
        </div>
        <div id="contacts-blog">
            <div class="available-contacts">
                <span>No Contacts Available</span>
                <div class="add-contact" id="create">
                    <i class="bi bi-person-add" style="font-size: 20px"></i> 
                    <span style="font-size: 15px">Add New Contact</span>
                </div>
            </div>
        </div>
    </div>
    <div class="current-chats">
        <div id="create-message">
            <i class="bi bi-chat-heart"></i>
        </div>
        <div class="top">
            <div class="profile">
                <img class="click" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZmlsZSUyMHBpY3R1cmVzfGVufDB8fDB8fHww" alt="profile" />
                <div class="profile-details">
                    <span class="title">Athenkosi Magada</span>
                    <span class="paragraph">079 689 7899</span>
                    <div class="line"></div>
                    <div class="logout">
                        <partial name="_LogoutPartial" />
                    </div>
                </div>
                <div class="user-profile">
                    <span class="name">Athenkosi Magada</span>
                    <span class="grey">Profile</span>
                </div>
            </div>
            <div id="create">
                <i class="bi bi-plus-lg"></i>
            </div>
        </div>
        <div class="search-bar">
            <i class="bi bi-search-heart"></i>
            <input type="text" placeholder="Search name" />
        </div>
        <div class="chats-container">
            @foreach (var recentMessageDto in Model.RecentMessageDtos)
            {
                <div class="chat-blog">
                    <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZmlsZSUyMHBpY3R1cmVzfGVufDB8fDB8fHww" alt="profile" />
                    <div class="chat-details">
                        <div class="user-profile">
                            <span class="name">@recentMessageDto.ContactUserName</span>
                            <span class="message">
                                @{
                                    if (recentMessageDto.Status == "Delivered") {
                                        <i id="primary-color" class="bi bi-check2-circle"></i>
                                    } else if(recentMessageDto.Status == "Sent") {
                                        <i id="yellow-color" class="bi bi-check2-circle"></i>
                                    } else
                                    {
                                        <i id="grey-color" class="bi bi-check2-circle"></i>
                                    }
                                }
                                <span class="elipsis">@recentMessageDto.Context</span>
                            </span>
                        </div>
                        <div class="other">
                            <div class="time-sent blog-time-sent">@recentMessageDto.Time</div>
                            <div class="number">
                                @if (recentMessageDto.UnreadMessages > 0)
                                {
                                    <span class="number-of-messages">@recentMessageDto.UnreadMessages</span>
                                }
                                else
                                {
                                    <span></span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="chat hidden">
        <div class="chat-topbar">
            <div class="contact-details max">
                <span id="name"></span>
                <span id="last-seen"></span>
            </div>
        </div>
        <div id="message-body"></div>
        <div class="message-blog">
            <div class="input-message-box max">
                <i class="bi bi-plus-circle-fill"></i>
                <textarea id="message" placeholder="Type a message"></textarea>
                <button id="send-message" style="border: none; background-color: transparent"><i class="bi bi-send-fill" style="font-size: 20px"></i></button>
            </div>
        </div>
    </div>
    <form action="" method="post" id="connection-id-form" hidden>
        <input type="text" name="" id="connection-id">
        <input type="button" value="" id="send-connection-id">
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chats.js"></script>
<script src="~/js/site.js"></script>
@* <script src="~/js/signal.js"></script> *@
